<h1 xmlns="http://www.w3.org/1999/html">User Account</h1>
<row>
    <div class="col-md-3">
        <form method="POST" action="?adminedituser">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" value="<?php echo $email ?>"
                   required>
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" value="<?php echo $name ?>" required>
            <button type="submit" class="btn btn-success">Update</button>
            <input type="hidden" name="id" value="<?php echo $id ?>"</input>
        </form>
    </div>

    <div class="col-md-3">
        <form method="POST" action="?admineditpw">
            <label>Passwort</label>
            <input type="password" class="form-control" name="passwort" placeholder="Passwort" value="">
            <label>Passwort wiederholen</label>
            <input type="password" class="form-control" name="passwortagain" placeholder="Passwort wiederholen"
                   value="">
            <button type="submit" class="btn btn-success">Passwort ändern</button>
            <input type="hidden" name="id" value="<?php echo $id ?>"</input>
            <h4>Passwortvorgabe: (Optional)</h4>
            <p>min. 1 Sonderzeichen</p>
            <p>min. 12 Zeichen</p>
            <strong>Admins sind berechtigt auch ohne Passwortvorgabe Passwörter zu ändern</strong>
        </form>
    </div>
</row>