<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<h1>Administration</h1>
<?php
	$admin = new admin();
	$admin->showAccounts();
?>
<a href="?createuser">
    <button type="button" class="btn btn-success">Nutzer anlegen</button>
</a>