<?php foreach ($users as $user): ?>
    <div class="col-md-3">
        <div class="span4 well">
            <div class="span1"><img
                        src="https://www.gravatar.com/avatar/<?php echo md5(strtolower(trim($user['email']))); ?>?s=100"
                        alt=""></div>
            <div class=\"span3\">
                <p><?php echo $user['name'] ?></p>
                <p><strong><?php echo $user['email'] ?></strong></p>
                <div class="btn-group" role="group" aria-label="...">
                    <a href="?removeuser&id=<?php echo $user['id'] ?>" type="button" class="btn btn-danger">Löschen</a>
					<?php if ($object->isadmin($user['id'])): ?>
                        <a href="?removeadmin&id=<?php echo $user['id'] ?>" type="button" class="btn btn-success">Administrator</a>
					<?php else: ?>
                        <a href="?setadmin&id=<?php echo $user['id'] ?>" type="button" class="btn btn-warning">Adminrechte
                            geben</a>
					<?php endif; ?>
                    <a href="?adminshowuser&id=<?php echo $user['id'] ?>" type="button"
                       class="btn btn-info">bearbeiten</a>
                </div>
            </div>
        </div>
    </div>
<?php endforeach; ?>