<div class="col-md-3">
    <div class="span4 well">


        <div class=\"span3\">
            <p><?php echo $name ?></p>
            <p><strong><?php echo $ip ?></strong></p>
            <p><?php echo $username ?></p>
            <p>PASSWORT</p>
        </div>
    </div>
</div>