<link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<title>MRDB Home</title>
<a href="?home">
    <h1><h1>MRDB Home</h1>
</a>
<div class="btn-group" role="group" aria-label="garnichts">
    <a href="?daten" type="button" class="btn btn-success ladda-button">Daten</button></a>
    <a href="?account" type="button" class="btn btn-info ladda-button">Account</button></a>
    <a href="?administration" type="button" class="btn btn-warning ladda-button">Administration</button></a>
    <a href="?createpost" type="button" class="btn btn-success">Blog</button></a>
    <a href="?logout" type="button" class="btn btn-danger ladda-button">Logout</button></a>
</div>
<br>





