<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div>
    <row>
        <div class="col-md-3">
            <div class="item">
                <h1>Login</h1>
                <form action="" method="POST">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label>Passwort</label>
                        <input type="password" class="form-control" name="password" placeholder="Passwort"
                               required>
                    </div>
                    <input type="hidden" name="login" value="true">
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
    </row>
</div>

