<h1>Mein Account</h1>
<row>
    <div class="col-md-3">
        <form method="POST" action="?useredituser">
            <label>Bild (Bild wird von Gravatar bereitgestellt)</label><br>
            <img src="<?php echo $gravurl ?>"></img><br>
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" value="<?php echo $email ?>"
                   required>
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" value="<?php echo $name ?>" required>
            <div class="btn-group" role="group" aria-label="garnichts">
                <button type="submit" class="btn btn-success">Update</button>
                <button data-toggle="modal" data-target="#modalpw" type="button" class="btn btn-warning">Passwort
                    ändern
                </button>
            </div>
            <input type="hidden" name="id" value="<?php echo $id ?>"</input>

        </form>
    </div>

    <div class="col-md-3">
        <form method="POST" action="?usereditpw">

            <label>Passwort</label>
            <input type="password" class="form-control" name="passwort" placeholder="Passwort" value="">
            <label>Passwort wiederholen</label>
            <input type="password" class="form-control" name="passwortagain" placeholder="Passwort wiederholen"
                   value="">

            <button type="submit" class="btn btn-success">Passwort ändern</button>


            <input type="hidden" name="id" value="<?php echo $id ?>"</input>
            <h4>Passwortvorgabe:</h4>
            <p>min. 1 Sonderzeichen</p>
            <p>min. 12 Zeichen</p>
        </form>
    </div>
</row>


