<?php echo $this->render('seiten/alert.phtml', array('alert' => $alert)); ?>
<h2>Nutzer anlegen</h2>
<row>
    <div class="col-md-3">
        <form method="POST" action="?createuser">
            <label>Email:</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" required>
            <label>Passwort</label>
            <input type="password" class="form-control" name="passwort" placeholder="Passwort" required>
            <label>Passwort wiederholen</label>
            <input type="password" class="form-control" name="passwortagain" placeholder="Passwort wiederholen"
                   required>
            <button type="submit" class="btn btn-success">Anlegen</button>
            <h4>Passwortvorgabe:</h4>
            <p>min. 1 Sonderzeichen</p>
            <p>min. 12 Zeichen</p>
        </form>
    </div>
</row>